body {
  /* border-color: white;
  border-width: 1px;
  display: block;
  border-style: solid; */
  border-style: none;
  width: 1000px;
  margin: auto;
  font-family: Geogia, serif;
  /* font-weight: 50; */
  font-size: 19px;
  line-height: 1.1;
  color: #FFFFD8; /* close to lightyellow which is #FFFFE0 */
  background-color: black;
}

a {
  color: #FFFFD8;
}

header {
  /* border-color: blue;
  border-width: 1px;
  display: block;
  border-style: solid; */
  border-style: none;
  height: 80px;
  background-color: #444444;
  margin-top: 0px;
}

nav {
  /* border-color: green;
  display: block;
  border-width: 1px;
  border-style: solid; */
  border-style: none;
  margin-left: 30px;
  margin-top: 0px;
  padding-left: 17px;
  padding-top: 28px;
  font-size: 19.5px;
  line-height: 1.0;
}

main {
  width: 640px;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

img {
  width: 350px;
}

.top-image-div {
  margin-top: 15px;
}

.bottom-image-div {
  margin-bottom: 15px;
}

h1, h2, footer {
  /* padding-top: 25px; */
  text-align: center;
}

h3 {
  padding-top: 10px;
}

.red-text {
  /* color: #FFCCCB; /* light red */
  color: #FF6666;
  /* color: #FF0000; /* color: red */
}

footer {
  width: 630px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  body {
    width: 320px;
    font-size: 16px;
  }
  header {
    height: 90px;
  }
  nav {
    font-size: 15px;
    line-height: 1.6;
    margin-left: 15px;
    margin-top: 0px;
    padding-left: 7px;
    padding-top: 10px;
  }
  main {
    width: 320px;
  }
  img {
    width: 200px;
  }
  footer {
    width: 320px;
  }
}
